.header {
    background-color: rgb(54, 65, 84);
    
    padding: 10px;
    
    height: 100%;
    font-size:smaller;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    position: sticky;
    z-index: 1000; 
    top: 0;
    margin-bottom: 0px;
    box-shadow: 0 0px 10px 0px black;

}
